* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* body */
body {
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  padding-top: 80px;
  background:url(/images/background.jpg);
  background-size: 100% 122%;
  background-repeat: no-repeat;
  background-position: top;
  
  
  
  
}


/* nav */
nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  width: 100%;
}
.nav_bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav_link {
  display: flex;
  justify-content: center;
  gap: 10px;
  list-style: none;

}
li a {
  text-decoration: none;
}
li a:hover {
  color: rgb(43, 1, 15);
  background-clip: inherit;
  
}

/* headings */


h1 {
  text-align: center;
  margin-top: 30%;
  color: aliceblue;
}

h2 {
  text-align: center;
  margin-top: 0%;
  color: white; 
}

/* buttons */
button {
  display: inline;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
  color: rgb(94, 29, 68);
}

.Hire-talent{
  background-color: rgb(3, 10, 204);
  align-items: end;
 color: aliceblue;
 margin-top: 50px;
}

.Hire-talent:hover{
  color: aliceblue;
  background: #ec0808;
}
.explore{
  background-color: rgb(214, 214, 30);
  align-items: center;
  color: azure;
  margin-top:50px;
}

.explore:hover{
  color: white;
  background-color: red
}
.partnership{
  background-color: rgb(155, 2, 91);
  align-items: center;
  color: azure;
  margin-top:50px;
  
}

.partnership:hover{
  color: red;
  background-color: white;
}

.button{
  display: flex;
  justify-content: center;
  padding: 20px;
}


/* second-page */
.about-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    gap: 40px;
    background-color: rgb(40, 40, 41);
    background-size: 100% 122%;
}

.about-text{
  width: 50%;
  color: white;
}

.heard{
  font-size: 45px;
  color: rgb(245, 243, 247);
  margin-top: 10px;
}

.empowering{
  font-size: 20px;
  color: #2e6bff;
  margin-top: 20px;
}

.paragraph{
  font-size: 20px;
  color: white;
  margin-bottom: 20px;
}

.learnmore{
 color: rgb(7, 7, 180);
 display: flex;
}
 

/* card */

.card-main{
  background-color: rgb(230, 243, 253);
  background-size: cover;
  background-size: 100%;
  text-align: center;
}
.c-container{
  display:flex;
  gap: 30px;
  margin: 20px;
  padding: 10px;
}
.card-head{
  padding: 20px;
}
.c-start{
  font-size: 20px;
  color: rgb(67, 67, 254);
}
.c-explore{
  font-size: 40px;
  color: rgb(128, 2, 71);
}

.card-head{
  color: black;
}

.card-img{
  width: 100%;
  height: 50%;
  border-radius: 10px;
}

/* card */
.card{
  background: rgb(206, 237, 253);
  border-radius: 10px;
  box-shadow: 5px 0px;
  

}

/* card-sub-head */
.card-h{
  color: rgb(94, 2, 65);


}

/* card-paragraph */
.card-p{
  color: rgb(76, 3, 55);
}

/* card-button */

.card-button{
  color: rgb(249, 249, 250);
  background: rgb(98, 1, 59);
}

.card-button:hover{
  color: white;
  background: blue;
}



/* MAIN SECTION */
.success-section {
    background-color: #06263b;
    padding: 80px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

/* LEFT IMAGES */
.success-images {
    display: flex;
    flex-direction: column;
    gap: 20%;
}

.s-img {
    width: 350px;
    border-radius: 8px;
    border: 10px solid #3e4a52;
    object-fit: cover;
}

/* tilt effect */
.img1 {
    transform: rotate(-7deg);
}
.img2 {
    transform: rotate(5deg);
}

/* RIGHT TEXT */
.success-text h2 {
    color: white;
    font-size: 36px;
    margin-bottom: 40px;
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 60px;
}

/* STATS BOXES */
.stat-box h3 {
    font-size: 55px;
    font-weight: bold;
    color: white;
}

.stat-box p {
    font-size: 18px;
    color: #dfe6ea;
}

/* RESPONSIVE */
@media(max-width: 980px) {
    .success-section {
        flex-direction: column;
        text-align: center;
    }

    .success-images {
        flex-direction: row;
        justify-content: center;
    }

    .s-img {
        width: 45%;
    }
}

@media(max-width: 600px) {
    .stats-grid {
        grid-template-columns: 1fr;
    }
}

/* program section */
.program-section{
  background-color: #3e4a52;
  padding: 80px 50px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items:center;
}

.program-text{
  text-size-adjust: 50px;
}

.program-head{
  color: #2e6bff;
  padding: 10px;
}

.logo{
  width: 20%;
  height: 20%;
}

.right-image{
  display: grid;
  justify-content: flex-end;
}

.main-image{
  
  width: 100%;
height: 50%;
}

.p-button{
  background-color: #a5a51e;
  color: #fcfdfa;

}

.p-button:hover{
  background-color: #e7e72a;
}

/* RESPONSIVE */
@media(max-width: 980px) {
    .success-section {
        flex-direction: column;
        text-align: center;
    }

    .success-images {
        flex-direction: row;
        justify-content: center;
    }

    .s-img {
        width: 45%;
    }
}

@media(max-width: 600px) {
    .stats-grid {
        grid-template-columns: 1fr;
    }
}



