* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* body */
body {
  height: 100vh;
  background-image: url(/images/background.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: rgb(52, 33, 33);
  
  
}

/* nav */
nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
}
.nav_bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav_link {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
}
li a {
  text-decoration: none;
}
li a:hover {
  color: rgb(249, 247, 247);
  background-color: rgb(56, 21, 48);
  background-clip: inherit;
}

/* headings */
h1 {
  text-align: center;
  margin-top: 30%;
  color: aliceblue;
}

h2 {
  text-align: center;
  margin-top: 0%;
  color: white; 
}

/* buttons */
button {
  display: inline;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
  color: rgb(94, 29, 68);
}

.Hire-talent{
  background-color: rgb(19, 5, 20);
  align-items: end;
 color: aliceblue;
 margin-top: 50px;
}
.explore{
  background-color: rgb(214, 214, 30);
  align-items: center;
  color: azure;
  margin-top:50px;
}

.partenership{
  background-color: rgb(231, 240, 247);
  align-items: center;
  color: rgb(252, 73, 234);
  margin-top:50px;
}

.heard{
  color: rgb(178, 53, 157);
  text-align: left;
  padding: 0%;
}
.empowering{
  color: rgb(56, 103, 244);
  text-align: left;
  padding: 0%;
}

.paragraph{
  color: rgb(250, 251, 253);
  padding: 2%;

}

.photo{
 display: flex;
 justify-content: flex-end;
}



  



